// |================================| Global |================================| //
.hr-heading {
    display: inline-block;
    width: 3.5rem;
    height: 0.125rem;
    margin-top: 0.1rem;
    border: none;
    background-color: var(--bs-primary);
    opacity: 1;
}
// |================================| Global |================================| //

// |================================| Navbar |================================| //
.navbar .btn-outline-secondary {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.navbar .btn-outline-secondary:hover {
    color: #333;
}

.navbar {
    transition: all 0.5s ease-in-out;
}

.navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// |================================| Navbar |================================| //

// |================================| Header |================================| //
.header {
    background: #151515 url('../images/headerImage.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);
}

.header .text-container {
    z-index: 1;
}

.header .partners img {
    filter: brightness(0) invert(1);
    width: 90%;
}
// |================================| Header |================================| //

// |================================| Details |================================| //
.details .image-container img {
    width: 90%;
}
// |================================| Details |================================| //

// |=========================| The SwiftLogix Method |=========================| //
.method .map {
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// |=========================| The SwiftLogix Method |=========================| //

// |================================| Contact |================================| //
.contact .image-container img {
    width: 90%;
}
// |================================| Contact |================================| //

@media(max-width: 992px) {
    .display-3 {
        font-size: 50px;
    }

    .lead {
        font-size: 16px;
    }

    .header .partners img {
        display: none;
    }

    .contact img {
        display: none;
    }
}

@media(max-width: 769px) {
    .header .partners img {
        display: none;
    }

    .about {
        text-align: center;
    }

    .hr-heading {
        display: inline-block;
        width: 3.5rem;
        height: 0.125rem;
        border: none;
        background-color: var(--bs-primary);
        opacity: 1;
        margin: 0 auto;
        margin-bottom: 0.7rem;
    }
}